@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #030303;
  color: #ffffff;
  font-family: "Poppins";
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  @media (max-width: 900px) {
    font-size: 16px;
    font-weight: 400;
  }
}

.width {
  width: 600px;
  @media (max-width: 900px) {
    width: 80vw;
  }
}

input:-webkit-autofill,
input {
  border-color: #ffffff;
  background-color: #030303;
  color: #ffffff;
  padding: 5px;
  height: 25px;
  border-radius: 10px;
  font-size: 16px;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:focus {
  border-color: #c2c2c2;
  background-color: #030303;
  color: #ffffff;
  padding: 5px;
  height: 25px;
}

/* input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  color: #ffffff;
} */

.text {
  font-size: 16px;
  cursor: pointer;
  @media (max-width: 900px) {
    font-size: 8px;
  }
}

.btn {
  width: 615px;
  border-color: #6741d9;
  background-color: #6741d9;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  justify-content: center;
  @media (max-width: 900px) {
    width: 82vw;
  }
}

.btn:focus {
  border-color: #f0c3f1;
  padding: 5px;
}

.btn:hover {
  border-color: #f0c3f1;
}

.btn[disabled] {
  border-color: #808080;
  background-color: #808080;
}

.password {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.charge-box {
  width: 600px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0;
  column-gap: 40px;
  @media (max-width: 900px) {
    width: 80vw;
  }
}

.radio-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.high-low {
  width: 100%;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.high-low-input {
  width: 80%;
}

.amount {
  width: 100%;
  margin: 0;
}

/* .highcharts-container {
  background-color: #030303;
} */

.error {
  margin: 0;
  padding: 0;
  color: red;
  font-family: "Poppins";
  font-size: 10px;
  text-align: left !important;
  padding-left: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 55px;
  margin: 5px;
}

.w-100 {
  width: 100%;
}

.sm-input {
  display: flex;
  flex-direction: column;
  height: 55px;
}

.cursor-pointer {
  cursor: pointer;
}

.success {
  margin: 0;
  padding: 0;
  color: green;
  font-family: "Poppins";
  font-size: 20px;
  text-align: left !important;
  padding-left: 5px;
}

.chart-container {
  @media (max-width: 900px) {
    width: 80vw;
  }
}

.rupee {
  position: absolute;
  top: 0;
  left: 0;
}
